In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
757,tt0409847,163000000,174822325,Cowboys & Aliens,Daniel Craig|Olivia Wilde|Harrison Ford|Sam Ro...,Jon Favreau,First Contact. Last Stand.,A stranger stumbles into the desert town of Ab...,119,Action|Science Fiction|Thriller|Western,Imagine Entertainment|DreamWorks SKG|Universal...,7/29/2011,5.4,2011
1737,tt0425413,10000000,33000000,Run Fatboy Run,Simon Pegg|Thandie Newton|Hank Azaria|Dylan Mo...,David Schwimmer,Love. Commitment. Responsibility. There's noth...,Five years after jilting his pregnant fiancÃ©e...,100,Comedy|Romance,Entertainment Films|Material Entertainment|Bee...,9/6/2007,6.2,2007
1755,tt0477051,60000000,95673607,Norbit,Eddie Murphy|Thandie Newton|Terry Crews|Clifto...,Brian Robbins,Have You Ever Made A Really Big Mistake?,A mild-mannered guy who is engaged to a monstr...,101,Comedy,DreamWorks SKG|Davis Entertainment|Tollin/Robb...,2/8/2007,5.3,2007
187,tt0458481,65000000,39407616,Sin City: A Dame to Kill For,Mickey Rourke|Jessica Alba|Josh Brolin|Joseph ...,Frank Miller|Robert Rodriguez,There is no justice without sin.,Some of Sin City's most hard-boiled citizens c...,102,Crime|Thriller,Miramax Films|Troublemaker Studios|AR Films|Al...,8/20/2014,6.2,2014
689,tt0831887,60000000,39031337,The Spirit,Gabriel Macht|Scarlett Johansson|Samuel L. Jac...,Frank Miller,I'm gonna kill you all kinds of dead.,Down these mean streets a man must come. A her...,103,Action|Comedy|Thriller|Crime|Science Fiction,DC Comics|Lionsgate|Odd Lot Entertainment|Medi...,12/25/2008,4.6,2008

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [22]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [34]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [35]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [33]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [15]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [32]:
answers['3'] = 'Winnie the Pooh'

display (data[data.runtime == data.runtime.min()].original_title, data[data.runtime == data.runtime.min()].runtime)

768    Winnie the Pooh
Name: original_title, dtype: object

768    63
Name: runtime, dtype: int64

# 4. Какова средняя длительность фильмов?

In [37]:
answers['4'] = 110
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [29]:
answers['5'] = 107
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [24]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display (data[data.profit == data.profit.max()].original_title, data[data.profit == data.profit.max()].profit)
answers['6'] = 'Avatar'

239    Avatar
Name: original_title, dtype: object

239    2544505847
Name: profit, dtype: int64

# 7. Какой фильм самый убыточный?

In [26]:
display (data[data.profit == data.profit.min()].original_title, data[data.profit == data.profit.min()].profit)
answers['7'] = 'The Lone Ranger'

1245    The Lone Ranger
Name: original_title, dtype: object

1245   -165710090
Name: profit, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [30]:
list_profit_movies = data[data.profit > 0]
display(len(list_profit_movies))
answers['8'] = 1478

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [44]:
answers['9'] = 'The Dark Knight'
data.query('release_year == 2008').sort_values('revenue', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008,501744560
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008,474029371
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008,557841637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,tt0486674,25000000,6673422,What Just Happened,Bruce Willis|Robert De Niro|Sean Penn|Robin Wr...,Barry Levinson,Admit nothing.,During the course of an ordinary week in Holly...,104,Comedy|Drama,2929 Productions|Linson Entertainment|Art Lins...,10/17/2008,5.1,2008,-18326578
673,tt0800241,15000000,5926410,Transsiberian,Woody Harrelson|Emily Mortimer|Kate Mara|Eduar...,Brad Anderson,You can't escape your lies.,A Trans-Siberian train journey from China to M...,111,Thriller|Crime|Mystery,Lietuvos Kinostudija|Scout Productions|Telecin...,1/18/2008,6.3,2008,-9073590
702,tt0844286,20000000,5530764,The Brothers Bloom,Rachel Weisz|Adrien Brody|Mark Ruffalo|Rinko K...,Rian Johnson,They'd never let the truth come between them.,The Brothers Bloom are the best con men in the...,114,Adventure|Comedy|Drama|Romance,The Weinstein Company|Summit Entertainment|End...,9/9/2008,6.8,2008,-14469236
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008,-11466773
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008,-5966835

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [48]:
answers['10'] = 'The Lone Ranger'
data.query('release_year >= 2012 & release_year <= 2014').sort_values('profit', ascending=True)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013,894761885
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012,908561013
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

# 11. Какого жанра фильмов больше всего?

In [57]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
pd.Series((data.genres.str.split('|').sum())).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [58]:
answers['12'] = 'Drama'
profit_movies = data[data['profit'] > 0]
pd.Series((profit_movies.genres.str.split('|').sum())).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [65]:
answers['13'] = 'Peter Jackson'
df = data.copy()
df['dirs'] = df['director'].str.split('|')
dirs_splt = df.explode('dirs')
dirs_grp = dirs_splt.groupby(['dirs']).revenue.sum()
dirs_grp.sort_values(ascending =False)

dirs
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [66]:
answers['14'] = 'Robert Rodriguez'
df = data[data.genres.str.contains('Action', na = False)].copy()

df['dirs'] = df['director'].str.split('|')
df2 = df.explode('dirs')
df2['genres'] = df2['genres'].str.split('|')
df3 = df2.explode('genres')
genres_dir = df3.groupby(['dirs']).genres.value_counts()
genres_dir.sort_values(ascending =False)

dirs                genres
Robert Rodriguez    Action             9
Paul W.S. Anderson  Action             7
Michael Bay         Action             7
                    Adventure          6
Ridley Scott        Action             6
                                      ..
Shawn Levy          Drama              1
Karyn Kusama        Action             1
                    Science Fiction    1
Keanu Reeves        Action             1
Zack Snyder         War                1
Name: genres, Length: 1503, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [68]:
answers['15'] = 'Chris Hemsworth'
df = data[data.release_year == 2012].copy()
df['actors'] = df['cast'].str.split('|')
actrs_splt = df.explode('actors')
actrs_grp = actrs_splt.groupby(['actors']).revenue.sum()
actrs_grp.sort_values(ascending =False)

actors
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [72]:
answers['16'] = 'Matt Damon'
df = data[data.budget > data.budget.mean()].copy()
df['actors'] = df['cast'].str.split('|')
actrs_splt = df.explode('actors')
actrs_grp = actrs_splt.groupby(['actors']).actors.value_counts()
actrs_grp.sort_values(ascending =False)

actors             actors
Matt Damon         Matt Damon           18
Adam Sandler       Adam Sandler         17
Angelina Jolie     Angelina Jolie       16
Eddie Murphy       Eddie Murphy         15
Samuel L. Jackson  Samuel L. Jackson    15
                                        ..
Leslie Bibb        Leslie Bibb           1
Leonard Nimoy      Leonard Nimoy         1
Lennie James       Lennie James          1
Lena Olin          Lena Olin             1
50 Cent            50 Cent               1
Name: actors, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [74]:
answers['17'] = 'Action'
df = data.copy()
df['actors'] = df['cast'].str.split('|')
df2 = df.explode('actors')
df2['genres'] = df2['genres'].str.split('|')
df3 = df2.explode('genres')
genres_dir = df3.groupby(['actors']).genres.value_counts()
display (genres_dir['Nicolas Cage'])

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [78]:
answers['18'] = 'K-19: The Widowmaker'
df = data[data.production_companies.str.contains('Paramount Pictures', na = False)].copy()
df[df.profit == df.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [80]:
answers['19'] = 2015
df = data.copy()
best_years = data.groupby('release_year')['revenue'].sum()
display (best_years.sort_values(ascending =False))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [84]:
answers['20'] = 2014
df = data[data.production_companies.str.contains('Warner', na = False)].copy()
best_years = df.groupby('release_year')['profit'].sum()
display(best_years.sort_values(ascending=False))

release_year
2014    2295464519
2007    2208217007
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1595278228
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     617151739
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [101]:
answers['21'] = 9
df = data.copy()
df['release_date'] = pd.to_datetime(df['release_date'])
df['month'] = df['release_date'].dt.month
df_sum = df.groupby(['month']).month.value_counts()
display (df_sum.sort_values(ascending =False))

month  month
9      9        227
12     12       190
10     10       186
8      8        161
3      3        156
4      4        149
6      6        147
11     11       146
7      7        142
5      5        140
2      2        135
1      1        110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [99]:
answers['22'] = 450
import datetime as dt

df = data.copy()
df['release_date'] = pd.to_datetime(df['release_date'])
df['month'] = df['release_date'].dt.month
df_summer = df[(df.month >= 6) & (df.month <=8) ]

display (len(df_summer))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [98]:
answers['23'] = 'Peter Jackson'
df = data.copy()

df['release_date'] = pd.to_datetime(df['release_date'])
df['month'] = df['release_date'].dt.month

df['dirs'] = df['director'].str.split('|')
df2 = df.explode('dirs')
df_winter = df2[(df2.month == 12) | (df2.month <=2)]

winter_movies = df_winter.groupby(['dirs']).month.value_counts()
display (winter_movies.sort_values(ascending =False))

dirs                  month
Peter Jackson         12       7
Clint Eastwood        12       5
Steven Soderbergh     12       4
Nancy Meyers          12       4
Steve Carr            1        3
                              ..
Michael Spierig       1        1
Michael Sucsy         2        1
Michael Winterbottom  1        1
Michel Gondry         1        1
Jonas Elmer           1        1
Name: month, Length: 403, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [97]:
answers['24'] = 'Four By Two Productions'
df = data.copy()
df['company'] = df['production_companies'].str.split('|')
df2 = df.explode('company')
df2['title_chr_count'] = df2['original_title'].apply(len)
title_chr_count = df2.groupby(['company']).title_chr_count.max()
display (title_chr_count.sort_values(ascending =False))
display (df2[ (df2['title_chr_count'] == df2['title_chr_count'].max()) ].original_title)

company
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: title_chr_count, Length: 1771, dtype: int64

1448    Borat: Cultural Learnings of America for Make ...
1448    Borat: Cultural Learnings of America for Make ...
Name: original_title, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [111]:
answers['25'] = 'Midnight Picture Show'
df = data.copy()
df['company'] = df['production_companies'].str.split('|')
df2 = df.explode('company')
df2['overview_word_count'] = df2.overview.str.split().apply(len)
overview_word_count = df2.groupby(['company']).overview_word_count.mean()
display (overview_word_count.sort_values(ascending =False))

company
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_word_count, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [109]:
answers['26'] = ['Inside Out', 'The Dark Knight', '12 Years a Slave']
vote_limit = data.quantile(0.99, numeric_only=True)['vote_average']
display (vote_limit)
df2 = data.loc[data['vote_average'] > vote_limit]['original_title']
display (df2)

7.8

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [115]:
answers['27'] = ['Daniel Radcliffe', 'Rupert Grint']
from itertools import combinations
df = data.copy()

df['actrs_pairs'] = df.cast.str.split('|')
df['combo'] = df.actrs_pairs.apply(lambda x: list(combinations(x,2)))
df = df.explode('combo')
cmbnts_actrs = df['combo']
display (cmbnts_actrs.value_counts().sort_values(ascending=False))

(Daniel Radcliffe, Rupert Grint)         8
(Daniel Radcliffe, Emma Watson)          8
(Rupert Grint, Emma Watson)              7
(Ben Stiller, Owen Wilson)               6
(Johnny Depp, Helena Bonham Carter)      6
                                        ..
(Liam Neeson, Max Thieriot)              1
(Diego Boneta, Bryan Cranston)           1
(Anne Hathaway, Emily Blunt)             1
(Marshall Bell, Toby Huss)               1
(AnnaSophia Robb, Lorraine Nicholson)    1
Name: combo, Length: 18121, dtype: int64

ВАРИАНТ 2

# Submission

In [116]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '5': 107,
 '3': 'Winnie the Pooh',
 '2': 'Gods and Generals',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '4': 110,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '22': 450,
 '21': 9,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': ['Daniel Radcliffe', 'Rupert Grint']}

In [117]:
# и убедиться что ни чего не пропустил)
len(answers)

27